@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,500,600,700,800&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.swiper-slide-prev .control-quiz__bullet::before,
._prev .control-quiz__bullet::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-check:before,
.swiper-slide-prev .control-quiz__bullet:before,
._prev .control-quiz__bullet:before {
  content: "\e900";
}

._icon-duet-logo:before {
  content: "\e901";
}

._icon-play-circle:before {
  content: "\e902";
}

._icon-quote:before {
  content: "\e903";
}

._icon-facebook:before {
  content: "\e904";
}

._icon-instagram:before {
  content: "\e905";
}

._icon-telegram:before {
  content: "\e906";
}

._icon-title-decor:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #707070;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.25rem 2.5rem;
  background-color: #04134e;
  border-radius: 0.1875rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0.5rem !important;
  width: 100%;
  display: block;
  padding: 1.375rem 1.25rem;
  border: 1px solid #CACACA;
  font-weight: 600;
  line-height: 137%;
}

@supports (font-size: clamp( 1.125rem , 0.2678571429rem  +  1.7857142857vw , 1.375rem )) {
  .input {
    font-size: clamp( 1.125rem , 0.2678571429rem  +  1.7857142857vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.2678571429rem  +  1.7857142857vw , 1.375rem )) {
  .input {
    font-size: calc(1.125rem + 0.25 * (100vw - 48rem) / 14);
  }
}

.input._form-error {
  border: 1px solid red;
}

.input::-webkit-input-placeholder {
  color: #CACACA;
}

.input::-moz-placeholder {
  color: #CACACA;
}

.input:-ms-input-placeholder {
  color: #CACACA;
}

.input::-ms-input-placeholder {
  color: #CACACA;
}

.input::placeholder {
  color: #CACACA;
}

.input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px #CACACA;
          box-shadow: 0 0 5px #CACACA;
}

.form__error {
  white-space: nowrap;
  color: red;
  position: absolute;
  bottom: -1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.options__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__label {
  padding: 2.5rem 1.25rem;
  cursor: pointer;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  padding-bottom: 2.5rem;
}

.popup__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.popup__close::before,
.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
}

.popup__close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.popup__text {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 137%;
  color: #000;
}

.popup__image-ibg {
  width: 100%;
  height: 100%;
  max-width: 9.375rem;
  min-height: 9.375rem;
}

.submit-form {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 100%;
  max-width: 25rem;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.submit-form_show {
  z-index: 150;
  visibility: visible;
  pointer-events: auto;
}

.submit-form_show .submit-form__content {
  visibility: visible;
  right: 0;
}

.submit-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.submit-form__content {
  position: relative;
  right: -100%;
  visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.submit-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.submit-form__close {
  display: none;
}

.submit-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}

.submit-form__text {
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 137%;
  color: #000;
}

.submit-form__image-ibg {
  width: 100%;
  height: 100%;
  max-width: 1.875rem;
  min-height: 1.875rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

/* Календарь */

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._title-decor {
  position: relative;
  z-index: 2;
}

._title-decor::before {
  position: absolute;
  top: 0;
  right: 0;
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 0, 8% 0, 17% 2%, 25% 0, 34% 2%, 42% 0, 51% 2%, 59% 0, 67% 2%, 75% 0, 84% 2%, 92% 0, 100% 0, 100% 9%, 99% 18%, 100% 25%, 99% 34%, 100% 42%, 99% 50%, 100% 59%, 99% 67%, 100% 75%, 99% 83%, 100% 91%, 100% 100%, 0 100%, 0 90%, 1% 81%, 0 73%, 1% 64%, 0 56%, 1% 48%, 0 40%, 1% 31%, 0 24%, 1% 16%, 0 8%);
            clip-path: polygon(0 0, 8% 0, 17% 2%, 25% 0, 34% 2%, 42% 0, 51% 2%, 59% 0, 67% 2%, 75% 0, 84% 2%, 92% 0, 100% 0, 100% 9%, 99% 18%, 100% 25%, 99% 34%, 100% 42%, 99% 50%, 100% 59%, 99% 67%, 100% 75%, 99% 83%, 100% 91%, 100% 100%, 0 100%, 0 90%, 1% 81%, 0 73%, 1% 64%, 0 56%, 1% 48%, 0 40%, 1% 31%, 0 24%, 1% 16%, 0 8%);
  }

  100% {
    -webkit-clip-path: polygon(0 0, 9% 0, 13% 0, 23% 2%, 33% 0, 41% 2%, 50% 0, 59% 2%, 67% 0, 76% 2%, 85% 0, 92% 0, 100% 0, 100% 9%, 100% 18%, 99% 25%, 100% 33%, 99% 42%, 100% 50%, 99% 59%, 100% 67%, 99% 76%, 100% 83%, 100% 91%, 100% 100%, 0 100%, 0 91%, 0 81%, 1% 74%, 0 65%, 1% 56%, 0 48%, 1% 40%, 0 31%, 1% 24%, 0 16%, 0 8%);
            clip-path: polygon(0 0, 9% 0, 13% 0, 23% 2%, 33% 0, 41% 2%, 50% 0, 59% 2%, 67% 0, 76% 2%, 85% 0, 92% 0, 100% 0, 100% 9%, 100% 18%, 99% 25%, 100% 33%, 99% 42%, 100% 50%, 99% 59%, 100% 67%, 99% 76%, 100% 83%, 100% 91%, 100% 100%, 0 100%, 0 91%, 0 81%, 1% 74%, 0 65%, 1% 56%, 0 48%, 1% 40%, 0 31%, 1% 24%, 0 16%, 0 8%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 0, 8% 0, 17% 2%, 25% 0, 34% 2%, 42% 0, 51% 2%, 59% 0, 67% 2%, 75% 0, 84% 2%, 92% 0, 100% 0, 100% 9%, 99% 18%, 100% 25%, 99% 34%, 100% 42%, 99% 50%, 100% 59%, 99% 67%, 100% 75%, 99% 83%, 100% 91%, 100% 100%, 0 100%, 0 90%, 1% 81%, 0 73%, 1% 64%, 0 56%, 1% 48%, 0 40%, 1% 31%, 0 24%, 1% 16%, 0 8%);
            clip-path: polygon(0 0, 8% 0, 17% 2%, 25% 0, 34% 2%, 42% 0, 51% 2%, 59% 0, 67% 2%, 75% 0, 84% 2%, 92% 0, 100% 0, 100% 9%, 99% 18%, 100% 25%, 99% 34%, 100% 42%, 99% 50%, 100% 59%, 99% 67%, 100% 75%, 99% 83%, 100% 91%, 100% 100%, 0 100%, 0 90%, 1% 81%, 0 73%, 1% 64%, 0 56%, 1% 48%, 0 40%, 1% 31%, 0 24%, 1% 16%, 0 8%);
  }

  100% {
    -webkit-clip-path: polygon(0 0, 9% 0, 13% 0, 23% 2%, 33% 0, 41% 2%, 50% 0, 59% 2%, 67% 0, 76% 2%, 85% 0, 92% 0, 100% 0, 100% 9%, 100% 18%, 99% 25%, 100% 33%, 99% 42%, 100% 50%, 99% 59%, 100% 67%, 99% 76%, 100% 83%, 100% 91%, 100% 100%, 0 100%, 0 91%, 0 81%, 1% 74%, 0 65%, 1% 56%, 0 48%, 1% 40%, 0 31%, 1% 24%, 0 16%, 0 8%);
            clip-path: polygon(0 0, 9% 0, 13% 0, 23% 2%, 33% 0, 41% 2%, 50% 0, 59% 2%, 67% 0, 76% 2%, 85% 0, 92% 0, 100% 0, 100% 9%, 100% 18%, 99% 25%, 100% 33%, 99% 42%, 100% 50%, 99% 59%, 100% 67%, 99% 76%, 100% 83%, 100% 91%, 100% 100%, 0 100%, 0 91%, 0 81%, 1% 74%, 0 65%, 1% 56%, 0 48%, 1% 40%, 0 31%, 1% 24%, 0 16%, 0 8%);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 0 5px #cacaca;
          box-shadow: 0 0 5px #cacaca;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #cacaca;
          box-shadow: 0 0 5px #cacaca;
}

.header._header-show {
  -webkit-transition: top 0.4s ease 0s;
  -o-transition: top 0.4s ease 0s;
  transition: top 0.4s ease 0s;
  top: 0;
}

.header__container {
  min-height: 3.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.menu-open .header__logo::before {
  color: #fff;
}

.header__logo::before {
  font-size: 3.125rem;
  color: #04134e;
}

.menu__list {
  text-align: center;
}

.menu__link {
  line-height: 230%;
  color: #000;
  padding: 0.625rem 0.3125rem;
  border-radius: 0.1875rem;
  position: relative;
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #0081a7;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu__link_darkblue {
  padding: 0.625rem 0.8125rem;
  color: #fff;
  background-color: #04134e;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.menu__link_darkblue::before {
  display: none;
}

.icon-menu {
  display: none;
}

.footer {
  background: url("../img/footer/bg-decor.svg") 0 0/cover no-repeat;
  padding-bottom: 1.875rem;
}

@supports (padding-top: clamp( 6.25rem , 1.7387218045rem  +  9.3984962406vw , 9.375rem )) {
  .footer {
    padding-top: clamp( 6.25rem , 1.7387218045rem  +  9.3984962406vw , 9.375rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 1.7387218045rem  +  9.3984962406vw , 9.375rem )) {
  .footer {
    padding-top: calc(6.25rem + 3.125 * (100vw - 48rem) / 33.25);
  }
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.1875rem;
  font-weight: 600;
  margin: 0 -15px;
}

.body-footer__column {
  padding: 0 15px;
}

.body-footer__column_logo {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

@supports (flex-basis: clamp( 15.625rem , -6.9313909774rem  +  46.992481203vw , 31.25rem )) {
  .body-footer__column_logo {
    -ms-flex-preferred-size: clamp( 15.625rem , -6.9313909774rem  +  46.992481203vw , 31.25rem );
        flex-basis: clamp( 15.625rem , -6.9313909774rem  +  46.992481203vw , 31.25rem );
  }
}

@supports not (flex-basis: clamp( 15.625rem , -6.9313909774rem  +  46.992481203vw , 31.25rem )) {
  .body-footer__column_logo {
    -ms-flex-preferred-size: calc(15.625rem + 15.625 * (100vw - 48rem) / 33.25);
        flex-basis: calc(15.625rem + 15.625 * (100vw - 48rem) / 33.25);
  }
}

.body-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
}

.body-footer__logo::before {
  font-size: 4.25rem;
  color: #04134e;
}

.body-footer__info {
  max-width: 22.1875rem;
  color: #979797;
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.body-footer__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.body-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.body-footer__link {
  color: #00afb9;
  line-height: 1.375;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.body-footer__link::before {
  color: #04134e;
  font-size: 2.1875rem;
}

.body-footer__title {
  font-size: 1.375rem;
  line-height: 1.3636363636;
  color: #000;
}

.body-footer__title:not(:last-child) {
  margin-bottom: 0.9090909091em;
}

.top {
  padding-bottom: 9.375rem;
  position: relative;
}

@supports (padding-top: clamp( 5.625rem , 4.8329207921rem  +  3.9603960396vw , 8.125rem )) {
  .top {
    padding-top: clamp( 5.625rem , 4.8329207921rem  +  3.9603960396vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 5.625rem , 4.8329207921rem  +  3.9603960396vw , 8.125rem )) {
  .top {
    padding-top: calc(5.625rem + 2.5 * (100vw - 20rem) / 63.125);
  }
}

.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8.125rem;
  bottom: 0;
  left: 0;
  background: url("../img/top/bg-decor.svg") left top/cover no-repeat;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.top__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  max-width: 33.125rem;
}

@supports (row-gap: clamp( 2.1875rem , 1.8345588235rem  +  1.1764705882vw , 2.8125rem )) {
  .top__content {
    row-gap: clamp( 2.1875rem , 1.8345588235rem  +  1.1764705882vw , 2.8125rem );
  }
}

@supports not (row-gap: clamp( 2.1875rem , 1.8345588235rem  +  1.1764705882vw , 2.8125rem )) {
  .top__content {
    row-gap: calc(2.1875rem + 0.625 * (100vw - 30rem) / 53.125);
  }
}

.top__title {
  font-weight: 700;
  line-height: 136%;
  color: #000;
  padding-top: 1.5625rem;
}

@supports (font-size: clamp( 2.625rem , 1.5703125rem  +  3.515625vw , 3.75rem )) {
  .top__title {
    font-size: clamp( 2.625rem , 1.5703125rem  +  3.515625vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.625rem , 1.5703125rem  +  3.515625vw , 3.75rem )) {
  .top__title {
    font-size: calc(2.625rem + 1.125 * (100vw - 30rem) / 32);
  }
}

.top__title span {
  color: #0081a7;
}

.top__title::before {
  color: #000;
}

@supports (font-size: clamp( 4rem , 5.125rem  +  -3.75vw , 4.375rem )) {
  .top__title::before {
    font-size: clamp( 4rem , 5.125rem  +  -3.75vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 4rem , 5.125rem  +  -3.75vw , 4.375rem )) {
  .top__title::before {
    font-size: calc(4.375rem + -0.375 * (100vw - 20rem) / 10);
  }
}

.top__subtitle {
  font-weight: 600;
  line-height: 136%;
  color: #04134e;
}

@supports (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.375rem )) {
  .top__subtitle {
    font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8214285714rem  +  0.8928571429vw , 1.375rem )) {
  .top__subtitle {
    font-size: calc(1rem + 0.375 * (100vw - 20rem) / 42);
  }
}

.top__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.top__image-ibg {
  position: absolute;
  right: 0;
  top: 0;
  width: 53.125rem;
  height: 32.5rem;
}

.top__image-ibg img {
  -o-object-position: right;
     object-position: right;
  opacity: 0.7;
}

.about-university__content {
  position: relative;
  background-color: #04134e;
  display: -ms-grid;
  display: grid;
}

@supports (min-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem )) {
  .about-university__content {
    min-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem );
  }
}

@supports not (min-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem )) {
  .about-university__content {
    min-height: calc(10.625rem + 26.875 * (100vw - 20rem) / 51.875);
  }
}

.about-university__video {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-animation: clip 1s infinite alternate;
          animation: clip 1s infinite alternate;
}

@supports (max-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem )) {
  .about-university__video {
    max-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem );
  }
}

@supports not (max-height: clamp( 10.625rem , 0.2635542169rem  +  51.8072289157vw , 37.5rem )) {
  .about-university__video {
    max-height: calc(10.625rem + 26.875 * (100vw - 20rem) / 51.875);
  }
}

@supports (border-radius: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem )) {
  .about-university__video {
    border-radius: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem );
  }
}

@supports not (border-radius: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 3.125rem )) {
  .about-university__video {
    border-radius: calc(1.25rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.about-university__splash {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.2s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.2s ease 0s, -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.2s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

._active-video .about-university__splash {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.about-university__body {
  position: relative;
  height: 100%;
  padding: 0 0.9375rem;
}

.about-university__bgimage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-university__items {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  max-width: 48.75rem;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

@supports (padding-top: clamp( 3.125rem , -0.2913701068rem  +  7.1174377224vw , 5.625rem )) {
  .about-university__items {
    padding-top: clamp( 3.125rem , -0.2913701068rem  +  7.1174377224vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , -0.2913701068rem  +  7.1174377224vw , 5.625rem )) {
  .about-university__items {
    padding-top: calc(3.125rem + 2.5 * (100vw - 48rem) / 35.125);
  }
}

.about-university__title {
  font-weight: 700;
  line-height: 1.35;
}

@supports (font-size: clamp( 2.125rem , 1.612544484rem  +  1.0676156584vw , 2.5rem )) {
  .about-university__title {
    font-size: clamp( 2.125rem , 1.612544484rem  +  1.0676156584vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2.125rem , 1.612544484rem  +  1.0676156584vw , 2.5rem )) {
  .about-university__title {
    font-size: calc(2.125rem + 0.375 * (100vw - 48rem) / 35.125);
  }
}

.about-university__text {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.3636363636;
  color: #ECECEC;
}

.about-university__button {
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.info-university {
  position: relative;
}

.info-university::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 11.875rem;
  top: -1px;
  left: 0;
  background: url("../img/about/bg-decor.svg") 30% bottom/cover no-repeat;
}

.info-university__body {
  position: relative;
  z-index: 2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 64.375rem;
  margin: 0 auto;
  padding-top: 1.875rem;
}

@supports (padding-bottom: clamp( 1.875rem , -8.8392857143rem  +  22.3214285714vw , 5rem )) {
  .info-university__body {
    padding-bottom: clamp( 1.875rem , -8.8392857143rem  +  22.3214285714vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -8.8392857143rem  +  22.3214285714vw , 5rem )) {
  .info-university__body {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 48rem) / 14);
  }
}

.info-university__column {
  padding: 0 0.9375rem;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.info-university__number {
  line-height: 120%;
}

@supports (font-size: clamp( 1.75rem , 1.5416666667rem  +  1.0416666667vw , 2.1875rem )) {
  .info-university__number {
    font-size: clamp( 1.75rem , 1.5416666667rem  +  1.0416666667vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5416666667rem  +  1.0416666667vw , 2.1875rem )) {
  .info-university__number {
    font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 42);
  }
}

.info-university__number:not(:last-child) {
  margin-bottom: 0.625rem;
}

@supports (padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .comments {
    padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .comments {
    padding-top: calc(1.875rem + 3.125 * (100vw - 48rem) / 35.125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .comments {
    padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .comments {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 48rem) / 35.125);
  }
}

.comments__header {
  max-width: 48.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  text-align: center;
}

@supports (margin-bottom: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem )) {
  .comments__header:not(:last-child) {
    margin-bottom: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.1458333333rem  +  5.2083333333vw , 4.375rem )) {
  .comments__header:not(:last-child) {
    margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 42);
  }
}

.comments__title {
  font-weight: 700;
  line-height: 135%;
  color: #000;
}

@supports (font-size: clamp( 2rem , 1.8415841584rem  +  0.7920792079vw , 2.5rem )) {
  .comments__title {
    font-size: clamp( 2rem , 1.8415841584rem  +  0.7920792079vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.8415841584rem  +  0.7920792079vw , 2.5rem )) {
  .comments__title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 63.125);
  }
}

.comments__title:not(:last-child) {
  margin-bottom: 0.75em;
}

.comments__subtitle {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 137%;
  color: #707070;
}

.slide-comments {
  padding: 40px 25px;
}

.slide-comments__card {
  position: relative;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  max-width: 53.125rem;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

@supports (padding-right: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem )) {
  .slide-comments__card {
    padding-right: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem )) {
  .slide-comments__card {
    padding-right: calc(0.625rem + 1.25 * (100vw - 30rem) / 53.125);
  }
}

@supports (padding-left: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem )) {
  .slide-comments__card {
    padding-left: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.0808823529rem  +  2.3529411765vw , 1.875rem )) {
  .slide-comments__card {
    padding-left: calc(0.625rem + 1.25 * (100vw - 30rem) / 53.125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .slide-comments__card {
    padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .slide-comments__card {
    padding-bottom: calc(1.875rem + 0.625 * (100vw - 20rem) / 28);
  }
}

@supports (padding-top: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .slide-comments__card {
    padding-top: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.4285714286rem  +  2.2321428571vw , 2.5rem )) {
  .slide-comments__card {
    padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 28);
  }
}

.slide-comments__card::before {
  color: #F3F3F3;
  position: absolute;
  bottom: 0.9375rem;
  right: 0.9375rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@supports (font-size: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem )) {
  .slide-comments__card::before {
    font-size: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 2.1349009901rem  +  4.9504950495vw , 6.25rem )) {
  .slide-comments__card::before {
    font-size: calc(3.125rem + 3.125 * (100vw - 20rem) / 63.125);
  }
}

.swiper-slide-active .slide-comments__card {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.swiper-slide-active .slide-comments__card::before {
  opacity: 1;
}

.slide-comments__image-ibg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@supports (width: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem )) {
  .slide-comments__image-ibg {
    width: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem );
  }
}

@supports not (width: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem )) {
  .slide-comments__image-ibg {
    width: calc(8.125rem + 1.875 * (100vw - 20rem) / 42);
  }
}

@supports (height: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem )) {
  .slide-comments__image-ibg {
    height: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem );
  }
}

@supports not (height: clamp( 8.125rem , 7.2321428571rem  +  4.4642857143vw , 10rem )) {
  .slide-comments__image-ibg {
    height: calc(8.125rem + 1.875 * (100vw - 20rem) / 42);
  }
}

.slide-comments__image-ibg img {
  border-radius: 50%;
}

.slide-comments__name {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 138%;
  color: #000;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.slide-comments__comment {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 136%;
  color: #B5B5B5;
  position: relative;
  z-index: 2;
  max-width: 40.625rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  min-height: 5.625rem;
}

@supports (padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .contact {
    padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .contact {
    padding-top: calc(1.875rem + 3.125 * (100vw - 48rem) / 35.125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .contact {
    padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.3954626335rem  +  8.896797153vw , 5rem )) {
  .contact {
    padding-bottom: calc(1.875rem + 3.125 * (100vw - 48rem) / 35.125);
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__image-ibg {
  padding-bottom: 52.6315789474%;
}

@supports (padding-right: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem )) {
  .contact__content {
    padding-right: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem )) {
  .contact__content {
    padding-right: calc(0.9375rem + 3.125 * (100vw - 30rem) / 53.125);
  }
}

@supports (padding-left: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem )) {
  .contact__content {
    padding-left: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , -0.8272058824rem  +  5.8823529412vw , 4.0625rem )) {
  .contact__content {
    padding-left: calc(0.9375rem + 3.125 * (100vw - 30rem) / 53.125);
  }
}

.contact__header {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .contact__header {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .contact__header {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.contact__header:not(:last-child) {
  margin-bottom: 3.125em;
}

@supports (margin-bottom: clamp( 1.875rem , -2.4107142857rem  +  8.9285714286vw , 3.125rem )) {
  .contact__header:not(:last-child) {
    margin-bottom: clamp( 1.875rem , -2.4107142857rem  +  8.9285714286vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , -2.4107142857rem  +  8.9285714286vw , 3.125rem )) {
  .contact__header:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.25 * (100vw - 48rem) / 14);
  }
}

.contact__title {
  font-weight: 700;
  line-height: 135%;
  color: #000;
}

@supports (font-size: clamp( 2rem , 1.7619047619rem  +  1.1904761905vw , 2.5rem )) {
  .contact__title {
    font-size: clamp( 2rem , 1.7619047619rem  +  1.1904761905vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7619047619rem  +  1.1904761905vw , 2.5rem )) {
  .contact__title {
    font-size: calc(2rem + 0.5 * (100vw - 20rem) / 42);
  }
}

.contact__subtitle {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 137%;
  color: #979797;
}

.contact__form {
  display: -ms-grid;
  display: grid;
}

@supports (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .contact__form {
    row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 0.2083333333rem  +  3.4722222222vw , 1.875rem )) {
  .contact__form {
    row-gap: calc(1.25rem + 0.625 * (100vw - 30rem) / 18);
  }
}

.contact__input {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.contact__input label {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 137%;
  color: #000;
}

.contact__button {
  margin-top: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.quiz__title {
  text-align: center;
  font-weight: 700;
  line-height: 135%;
  color: #000;
}

@supports (font-size: clamp( 2rem , 1.53125rem  +  1.5625vw , 2.5rem )) {
  .quiz__title {
    font-size: clamp( 2rem , 1.53125rem  +  1.5625vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.53125rem  +  1.5625vw , 2.5rem )) {
  .quiz__title {
    font-size: calc(2rem + 0.5 * (100vw - 30rem) / 32);
  }
}

.quiz__title:not(:last-child) {
  margin-bottom: 1em;
}

.quiz__control:not(:last-child) {
  margin-bottom: 1.875em;
}

.quiz__slide {
  padding: 0.625rem 0.0625rem;
}

.control-quiz__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2.5rem;
}

.control-quiz__bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: #707070;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  height: 0.1875rem;
  position: relative;
}

.swiper-slide-active .control-quiz__bullet {
  background-color: #0081a7;
}

.swiper-slide-active .control-quiz__bullet::after {
  content: "";
  background-color: #0081a7;
}

.swiper-slide-prev .control-quiz__bullet,
._prev .control-quiz__bullet {
  background-color: #00A789;
}

.swiper-slide-prev .control-quiz__bullet::after,
._prev .control-quiz__bullet::after {
  content: "";
  background-color: #00A789;
}

.swiper-slide-prev .control-quiz__bullet::before,
._prev .control-quiz__bullet::before {
  position: absolute;
  top: 1px;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.375rem;
}

.swiper-slide-prev .control-quiz__bullet .control-quiz__number,
._prev .control-quiz__bullet .control-quiz__number {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.control-quiz__bullet::after {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  background-color: #707070;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.control-quiz__number {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
}

.ask__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 137%;
  color: #000;
}

.ask__title:not(:last-child) {
  margin-bottom: 1.8181818182em;
}

.ask__buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 1fr;
  gap: 0.9375rem;
}

.ask__buttons_two {
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.ask__buttons_three {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.ask__item {
  position: relative;
}

.ask__item_span-two {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.ask__item_span-three {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.ask__checkbox:checked + .ask__label {
  color: #fff;
  background-color: #04134e;
}

.ask__checkbox:checked + .ask__label + .ask__button-tippy {
  color: #fff;
  -webkit-box-shadow: 0 0 2px #fff;
          box-shadow: 0 0 2px #fff;
}

.ask__label,
.ask__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: 100%;
  padding: 2.5rem 1.875rem;
  background-color: #fdfdff;
  -webkit-box-shadow: 0px 0px 0px 1px #E9E9E9;
          box-shadow: 0px 0px 0px 1px #E9E9E9;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ask__button[type=submit] {
  font-weight: 600;
}

.ask__button-tippy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  bottom: 0.625rem;
  right: 0.625rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #B5B5B5;
          box-shadow: 0 0 2px #B5B5B5;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.tippy-box[data-theme~=light] {
  color: #26323d;
  -webkit-box-shadow: 0 0 15px 4px rgba(181, 181, 181, 0.3137254902);
          box-shadow: 0 0 15px 4px rgba(181, 181, 181, 0.3137254902);
  background-color: white;
}

.tippy-box[data-theme~=light][data-placement^=top] > .tippy-arrow::before {
  border-top-color: white;
}

.tippy-box[data-theme~=light][data-placement^=bottom] > .tippy-arrow::before {
  border-bottom-color: white;
}

.tippy-box[data-theme~=light][data-placement^=left] > .tippy-arrow::before {
  border-left-color: white;
}

.tippy-box[data-theme~=light][data-placement^=right] > .tippy-arrow::before {
  border-right-color: white;
}

.tippy-box[data-theme~=light] > .tippy-backdrop {
  background-color: white;
}

.tippy-box[data-theme~=light] > .tippy-svg-arrow {
  fill: white;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }

  .top__title::before {
    right: -1.25rem;
  }
}

@media (min-width: 61.99875em) {
  .body-footer__column_logo {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }

  .top__subtitle {
    max-width: 30.625rem;
  }

  .contact__image-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .contact__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 53%;
            flex: 0 1 53%;
  }
}

@media (max-width: 61.99875em) {
  .footer__container {
    max-width: 40.625rem;
  }

  .body-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .body-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .body-footer__column_logo {
    text-align: center;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .body-footer__column_about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .body-footer__column_learning {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .body-footer__column_more {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .body-footer__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .body-footer__social-networks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top__content {
    margin: 0 auto;
  }

  .top__title {
    line-height: 124%;
  }

  .top__subtitle {
    color: #707070;
  }

  .top__image-ibg {
    display: none;
  }

  .contact__image-ibg {
    display: none;
  }

  .contact__content {
    max-width: 37.5rem;
    margin: 0 auto;
  }
}

@media (max-width: 47.99875em) {
  .input {
    padding: 1.125rem 0.9375rem;
  }

  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .menu__body {
    padding-top: 6.25rem;
    padding-bottom: 2.1875rem;
    overflow: auto;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #00afb9;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    background-color: #00afb9;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .menu__link {
    font-size: 1.5rem;
    color: #fff;
  }

  .menu__link_darkblue {
    color: #00afb9;
    background-color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .top__title {
    line-height: 110%;
  }

  .about-university__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-university__items {
    padding-top: 0rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about-university__title {
    display: none;
  }

  .about-university__text {
    display: none;
  }

  .about-university__button {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .info-university::before {
    height: 19.375rem;
  }

  .info-university__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 26.25rem;
    padding-bottom: 6.25rem;
  }

  .ask__label,
  .ask__button {
    padding: 1.875rem 1.875rem;
  }

  .ask__button-tippy {
    bottom: 0.3125rem;
    right: 0.3125rem;
  }
}

@media (max-width: 29.99875em) {
  .input {
    padding: 0.9375rem 0.9375rem;
  }

  .submit-form {
    right: 0.625rem;
    bottom: 0.625rem;
    max-width: 15.625rem;
  }

  .submit-form__image-ibg {
    display: none;
  }

  .body-footer {
    text-align: center;
  }

  .body-footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .info-university::before {
    height: 23.125rem;
  }

  .info-university__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ask__buttons_three {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .ask__item_span-three {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .ask__label,
  .ask__button {
    padding: 0.9375rem 1.875rem;
  }
}

@media (max-width: 26.9375em) {
  .top__title {
    padding-top: 0rem;
  }
}

@media (min-width: 25em) and (max-width: 47.99875em) {
  .top__title {
    padding-right: 3.4375rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #0081a7;
  }

  .menu__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .menu__link_darkblue:hover {
    background-color: #0081a7;
  }

  .body-footer__link:hover {
    color: #04134e;
  }

  .about-university__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .ask__label:hover,
  .ask__button:hover {
    color: #fff;
    background-color: #04134e;
  }

  .ask__label:hover + .ask__button-tippy,
  .ask__button:hover + .ask__button-tippy {
    color: #fff;
    -webkit-box-shadow: 0 0 2px #fff;
            box-shadow: 0 0 2px #fff;
  }

  .ask__button-tippy:hover {
    color: #fff;
    background-color: #B5B5B5;
  }
}